{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.stop_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.stop_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 's.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.city'|trans, 's.city') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.name'|trans, 's.name') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for stop in pagination %}
                <tr>
                    <td>{{ stop.id }}</td>
                    <td>{{ stop.city }}</td>
                    <td>{{ stop.name }}</td>
                    <td>
                        <a href="{{ url('stop_view', {id: stop.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('stop_new', {id: stop.id}) }}" title="{{ 'action.new'|trans }}">
                            {{ 'action.new'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('stop_delete', {id: stop.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}