{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.view_item'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.view_item'|trans }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ item.id }}</dd>
            <dt>{{ 'label.number'|trans }}</dt>
            <dd>{{ item.number }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}