{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bus_route_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bus_route_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'br.id') }}</th>
                <th>{{ 'label.bus_line'|trans }}</th>
                <th>{{ 'label.stop'|trans }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.order'|trans, 'br.stop_order') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for busroute in pagination %}
                <tr>
                    <td>{{ busroute.id }}</td>
                    <td>{{ busroute.busline.number }}</td>
                    <td>{{ busroute.stop.name }}</td>
                    <td>{{ busroute.stop_order }}</td>
                    <td>
                        <a href="{{ url('route_view', {id: busroute.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('route_new', {id: busroute.id}) }}" title="{{ 'action.new'|trans }}">
                            {{ 'action.new'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}

