{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.view_item'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.view_item'|trans }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{ 'label.bus_line'|trans }}</dt>
            <dd>{{ item.busline.number }}</dd>
            <dt>{{ 'label.stop'|trans }}</dt>
            <dd>{{ item.stop.name }}</dd>
            <dt>{{ 'label.name'|trans }}</dt>
            <dd>{{ item.stopOrder }}</dd>
        </dl>
    {% else %}
        <p>
            Item not found.
        </p>
    {% endif %}
{% endblock %}