{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.ticket_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.ticket_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label.id'|trans, 'u.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.created_at'|trans, 'u.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.users'|trans, 'u.firstName') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label.bus_line'|trans, 'u.firstName') }}</th>
                <th>{{ 'label.actions'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in pagination %}
                <tr>
                    <td>{{ ticket.id }}</td>
                    <td>{{ ticket.createdAt|date('Y/m/d') }}</td>
                    <td>{{ ticket.user.firstName }}</td>
                    <td>{{ ticket.busLine }}</td>
                    <td>
                        <a href="{{ url('admin_panelticket_view', {id: ticket.id}) }}" title="{{ 'action.view'|trans }}">
                            {{ 'action.view'|trans }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('admin_panelticket_delete', {id: ticket.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'action.delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}