{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.view_item'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.view_item'|trans }}</h1>
    {% if item is defined and item|length %}
        <dl>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ item.createdAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ item.updatedAt|date('Y/m/d') }}</dd>
            <dt>{{ 'label.firstName'|trans }}</dt>
            <dd>{{ item.firstName }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{ item.email }}</dd>
        </dl>
    {% else %}
        <p>
            {{ 'message.item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}