{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.changePassword'|trans }}
{% endblock title %}

{% block body %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary" type="submit">{{ 'title.changePassword'|trans }}</button>
        {{ form_end(form) }}
{% endblock body %}