{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bus_route_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bus_route_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>a</th>
                <th>b</th>
                <th>c</th>
            </tr>
            </thead>
            <tbody>
            {% for stop in pagination %}
                <tr>
                    <td>{{ stop.stop_order }}</td>
                    <td>{{ stop.name }}</td>
                    <td>
                        <a href="{{ url('searchticket_buy') }}" title="{{ 'action.buy'|trans }}">
                            {{ 'action.buy'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}



