{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bus_route_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bus_route_list'|trans }}</h1>
    {% if pagination is defined and pagination|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ 'label.stop'|trans }}</th>
                <th>{{ 'label.bus_line'|trans }}</th>
                <th>{{ 'label.actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for busroute in pagination %}
                <tr>
                    <td>{{ busroute.name }}</td>
                    <td>{{ busroute.number }}</td>
                    <td>
                        <a href="{{ url('searchsearchresults_line', {number: busroute.number}) }}" title="{{ 'action.select'|trans }}">
                            {{ 'action.select'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}

{% endblock %}

