<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('style.css') }}">
        {% endblock %}
    </head>
    <body style="background-color: #f9ecec">
    <nav class="navbar navbar-default" style="background-color: lightblue">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url('homepage') }}">{{ 'title.bus_company_name'|trans }}</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url('homepage') }}">{{ 'title.homepage'|trans }}</a></li>
                {% if app.user %}
                {# <a class="nav-link" href="{{ url("article_new") }}">{{ 'navbar.new_article'|trans }}</a> #}
                <li><a href="{{ path("searchticket_view", {id: app.user.getId()}) }}">{{ app.user.getFirstName() }}</a></li>
                    <li><a href="{{ url("security_logout") }}">{{ 'button.logout'|trans }}</a></li>
                {% else %}
                <li><a href="{{ url('security_login') }}">Zaloguj</a></li>
                <li><a href="{{ url('user_add') }}">Zarejestruj</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ url('admin_paneladmin_panel_index') }}">{{ 'label.admin_panel'|trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        {% include 'default/_flash_messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
